<!-- About 1 - Bootstrap Brain Component -->
{% load static %}
<section class="py-3 py-md-5 py-xl-8 " id="about">
    <div class="container-fluid about-container"  style="margin-top: 20px; margin-bottom: 10px;">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded"  src="{% static 'images/about.jpg' %}" alt="">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="h1 mb-3">Who Are We?</h2>
              <p class="lead fs-4 text-secondary mb-3" style="text-indent: 3em; text-align: justify; text-justify: inter-word">Welcome to India Fertilizer Sales, your trusted agriculture partner for over 35 years. With a legacy spanning three and a half decades since our establishment in [Year], we take pride in providing high-quality seeds, fertilizers, and sprayers to the farming community. Our commitment to excellence and customer satisfaction remains unwavering. Thank you for choosing India Fertilizer Sales; we're dedicated to serving farmers with the best solutions for their agricultural needs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>