{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
<style type="text/css">

  .form-control{
    padding-left: 40px;
    border: 1px solid var(--primary-color);
    margin: 10px 0;
  }

  .form-check{
    margin: 10px 0;
  }


  .form-control::placeholder {
    color: var(--primary-color);
  }

  .input-field {
      width: 100%;
      position: relative;
  }

  .input-field>i {
    position: absolute;
    top: 22px;
    left: 12px;
    color: var(--primary-color);
  }

  .errorlist>li{
    list-style: none;
  }
  
  main{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .login-img{
      object-fit: contain;
  }

  .login-form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      padding: 30px 20px;
      border-radius: 6px;
      border-top: 1px solid white ;
      border-left: 1px solid white;
      box-shadow:  .5rem 1rem .8rem var(--shadow);
  }

  .signup-form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      padding: 14px 16px;
      border-top: 1px solid white ;
      border-left: 1px solid white;
      border-radius: 6px;
  }

  .content{
      height: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

</style>


<main>

  <form name="signupForm" method="post"
        class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12 signup-form shadow" novalidate>
        <h1> <i class="fa-solid fa-user fs-4"></i> Signup</h1>
        {% csrf_token %}
        <div class="input-field">
          <i class="fas fa-user"></i>
          {{ form.username }}
          {% if form.username.errors %}
          <label class="text-danger">{{ form.username.errors }}</label>
          {% endif %}
        </div>

        <div class="input-field">
          <i class="fas fa-envelope"></i>
          {{ form.email }}
          {% if form.email.errors %}
          <label class="text-danger">{{ form.email.errors }}</label>
          {% endif %}
        </div>

        <div class="input-field">
          <i class="fas fa-lock"></i>
          {{ form.password }}
          {% if form.password.errors %}
          <label class="text-danger">{{ form.password.errors }}</label>
          {% endif %}
        </div>

        <div class="form-check d-flex justify-content-center">
          <input class="form-check-input me-2" type="checkbox" value="" id="termsCheckbox" />
          <label class="form-check-label" for="termsCheckbox">
              I agree all statements in <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Terms of
                service</a>
          </label>
        </div>

        <span class="text-center" id="checkbox-error" style="color: red; display: none;">
          You must Agree to the terms and conditions.
        </span>

        <button type="submit" class="btn btn-success mt-1 w-100" id="reg-btn">Register</button>
        <p class="my-2">Or</p>
        <p>Already have an account<a href="{% url 'login' %}" class="ps-1">Login?</a></p>
    </form>
    <img src="{% static 'images/register-new.png' %}" alt="signup image..."
        class="login-img col-lg-7 col-md-6 d-none d-md-block">
</main>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Terms and Conditions:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="text-align: justify;">
        <p>1. Acceptance of Terms:</p>
        <p>By accessing and using Indian Fertilizer's services, you agree to comply with and be bound by the following
          terms and conditions. If you do not agree to these terms, please do not use our services.</p>
        <p>2. Registration:</p>
        <p>To use certain features of our services, you may be required to register for an account. You agree to:</p>
        <ul>
          <li>Provide accurate, current, and complete information during the registration process.</li>
          <li>Maintain and promptly update your account information.</li>
          <li>Be responsible for safeguarding your password and for any activities or actions under your password.
          </li>
        </ul>
        <p>3. Use of Services:</p>
        <p>You agree to use our services only for lawful purposes and in accordance with these terms. You are
          prohibited from using our services:</p>
        <ul>
          <li>To impersonate any person or entity or misrepresent your affiliation with any person or entity.</li>
          <li>To engage in any activity that interferes with or disrupts our services or the servers and networks that
            support our services.</li>
        </ul>
        <p>4. Privacy Policy:</p>
        <p>Your use of our services is also governed by our Privacy Policy, which describes how we collect, use, and
          share your personal information.</p>
        <p>5. Intellectual Property:</p>
        <p>All content, trademarks, and data on our website, including but not limited to software, databases, text,
          graphics, icons, hyperlinks, private information, designs, and agreements, are the property of or licensed
          to Indian Fertilizer and as such are protected from infringement by local and international legislation and
          treaties.</p>
        <p>6. Termination:</p>
        <p>We reserve the right to suspend or terminate your account and access to our services at our sole
          discretion, without notice, if we determine that you have violated these terms.</p>
        <p>7. Limitation of Liability:</p>
        <p>Indian Fertilizer will not be liable for any direct, indirect, incidental, special, consequential, or
          exemplary damages arising from your use of our services.</p>
        <p>8. Governing Law:</p>
        <p>These terms and conditions are governed by and construed in accordance with the laws of [Your
          Jurisdiction]. Any disputes relating to these terms will be subject to the exclusive jurisdiction of the
          courts of [Your Jurisdiction].</p>
        <p>9. Changes to Terms:</p>
        <p>We reserve the right to modify these terms at any time. Your continued use of our services after any such
          changes constitutes your acceptance of the new terms.</p>
        <p>10. Contact Information:</p>
        <p>For any questions about these terms, please contact us at:</p>
        <p style="font-weight: bolder;">Indian Fertilizer,<br>VAHS complex No 2,Batlagundu,
          TamilNadu 624202,<br>indiafertilizer@gmail.com,<br>01 234 567 88.</p>
        <p>Agreement:</p>
        <p>By clicking "I Agree," you acknowledge that you have read, understood, and agree to be bound by these terms
          and conditions.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="agreeButton">I Agree</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('agreeButton').addEventListener('click', function () {
    document.getElementById('termsCheckbox').checked = true;
    var modal = bootstrap.Modal.getInstance(document.getElementById('staticBackdrop'));
    modal.hide()
  });

  document.getElementById('reg-btn').addEventListener('click', function (event) {
    var checkbox = document.getElementById('termsCheckbox');
    var errorSpan = document.getElementById('checkbox-error');

    if (!checkbox.checked) {
      event.preventDefault();
      errorSpan.style.display = 'block';
    } else {
      errorSpan.style.display = 'none';
    }
  });

</script>

{% endblock %}