{% extends 'layouts/main.html' %}
{% load static %}
  {% block title %} Home page | {{website_name}}  {% endblock title %}

  {% block content %}
  {% include 'inc/slider.html' %}
 
  <main>

    <div data-bs-spy="scroll" data-bs-target="navbar-example3" data-bs-offset="0" tabindex="0">
      {% include 'inc/about.html' %}
    </div>
    
    <div>
      {% include 'inc/products.html' %}
    </div>
   
    <!-- <div data-bs-spy="scroll" data-bs-target="navbar-example3" data-bs-offset="0" tabindex="0">
      {% include 'inc/topBrands.html' %}
    </div> -->
    
    <div class="features" data-bs-spy="scroll" data-bs-target="navbar-example3" data-bs-offset="0" tabindex="0"
      id="feature">
      <div class=" feature" style="margin-top:150px; margin-bottom: 150px;">
        <img class=" featureItem" src="{% static 'images/free-delivery.png' %}" alt="Shipping">
        <h3 class="featureTitle">FREE SHIPPING</h3>
        <h5 class="featureDescr">Free Shipping on all orders</h5>
      </div>
      <div class="feature">
        <img class="featureItem" src="{% static 'images/product-return.png' %}" alt="Shipping">
        <h3 class="featureTitle">RETURN POLICY</h3>
        <h5 class="featureDescr">10 days return policy for Sprayers</h5>
      </div>
      <div class="feature">
        <img class="featureItem" src="{% static 'images/contact-mail.png' %}" alt="Shipping">
        <h3 class="featureTitle">CONTACT US!</h3>
        <h5 class="featureDescr">Keep in touch via mail and phone</h5>

      </div>
    </div>

  </main>

  {% endblock %}
  
  {% block scripts %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  {% endblock scripts %}
</body>

</html>