{% extends 'layouts/main.html' %} {% load static %} {% block title %} Home page
| {{website_name}} {% endblock title %} {% block content %}
<style>
  .navbar {
    background-color: transparent;
  }
</style>
<header>
  {% include 'inc/carousel.html' %}
  <div class="d-flex d-md-none slogan-card">
    <span>
      Welcome Better Fertilizer,<br />
      Bigger Harvests!</span
    >
  </div>
</header>
<main>
  <section class="container-fluid container-lg">
    <!-- Top Brands Sliding Animation -->
    <div class="slider">
      <div class="list">
        <div class="item" style="--position: 1">
          <img src="{% static 'images/agtech.png' %}" alt="" />
        </div>
        <div class="item" style="--position: 2">
          <img src="{% static 'images/OIP.png' %}" alt="" />
        </div>
        <div class="item" style="--position: 3">
          <img src="{% static 'images/tata-brand.png' %}" alt="" />
        </div>
        <div class="item" style="--position: 4">
          <img src="{% static 'images/rasi-brand.png' %}" alt="" />
        </div>
        <div class="item" style="--position: 5">
          <img src="{% static 'images/spic-brand.png' %}" alt="" />
        </div>
        <div class="item" style="--position: 6">
          <img src="{% static 'images/agtech.png' %}" alt="" />
        </div>
        <div class="item" style="--position: 7">
          <img src="{% static 'images/OIP.png' %}" alt="" />
        </div>
        <div class="item" style="--position: 8">
          <img src="{% static 'images/tata-brand.png' %}" alt="" />
        </div>
        <div class="item" style="--position: 9">
          <img src="{% static 'images/rasi-brand.png' %}" alt="" />
        </div>
        <div class="item" style="--position: 10">
          <img src="{% static 'images/spic-brand.png' %}" alt="" />
        </div>
      </div>
    </div>
    <!-- End Top Brands Sliding Animation -->

    {% if trend_products %}
    <!-- Card Collection -->
    <div class="mt-4 position-relative">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="about-heading">
          Trend <b class="text-success">Products</b>
        </h3>
        <a href="#" class="text-success"
          >View all <i class="fas fa-angle-right"></i
        ></a>
      </div>

      <button
        class="d-none d-sm-block scroll-button left btn btn-success rounded-circle fade-in"
        onclick="leftScroll('cardWrapper1')"
      >
        <i class="fas fa-arrow-left"></i>
      </button>
      <div class="card-wrapper" id="cardWrapper1">
        {% for product in trend_products %} 
        {% if product.is_show %}
         {% include 'inc/card.html' %} 
         {% endif %} 
         {% endfor %}
      </div>
      <button
        class="d-none d-sm-block scroll-button right btn btn-success rounded-circle fade-in"
        onclick="rightScroll('cardWrapper1')"
      >
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
    <!-- End Card Collection -->
    {% endif %}

    <!-- Category Slider -->
    {% if category_list %}
    <div class="slider-container">
      <div>
        <h3 class="about-heading text-uppercase">
          Our <b class="text-success">Categories</b>
        </h3>
      </div>
      <div
        id="productCarousel"
        class="carousel slide mt-5"
        data-ride="carousel"
        data-bs-ride="carousel" data-bs-interval="3000"
      >
        <!-- The slideshow -->
        <div class="carousel-inner">
          {% for category in category_list %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="image-container">
              <img src="{{ category.image.url }}" />
            </div>
            <p class="product-title">{{ category.name }}</p>
          </div>
          {% endfor %}
        </div>
        
        <!-- Left and right controls inside the box -->
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#productCarousel"
          data-bs-slide="prev"
        >
          <span class="btn btn-success rounded-circle fade-in"
            ><i class="fas fa-arrow-left"></i
          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#productCarousel"
          data-bs-slide="next"
        >
          <!-- <i class="fas fa-arrow-right btn btn-success rounded-circle" aria-hidden="true"></i> -->
          <span class="btn btn-success rounded-circle fade-in"
            ><i class="fas fa-arrow-right"></i
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    {% endif %}
    <!-- End Category Slider -->

    {% if most_viewed_products %}
    <div class="mt-4 position-relative">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="about-heading">
          Most Vie<b class="text-success">wed Products</b>
        </h3>
        <a href="#" class="text-success"
          >View all <i class="fas fa-angle-right"></i
        ></a>
      </div>

      <button
        class="d-none d-sm-block scroll-button left btn btn-success rounded-circle fade-in"
        onclick="leftScroll('cardWrapper2')"
      >
        <i class="fas fa-arrow-left"></i>
      </button>
      <div class="card-wrapper" id="cardWrapper2">
        {% for product in most_viewed_products %}
         {% if product.is_show %} 
        {% include 'inc/card.html' %} 
        {% endif %} 
        {% endfor %}
      </div>
      <button
        class="d-none d-sm-block scroll-button right btn btn-success rounded-circle fade-in"
        onclick="rightScroll('cardWrapper2')"
      >
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
    <!-- End Card Collection -->
    {% endif %}

    <!-- Signup Now Card -->
    <div
      class="card mb-4 shadow fade-in"
      style="font-family: Poppins, sans-serif"
    >
      <div class="row g-0">
        <!-- Card Content -->
        <div class="col-md-8 p-4">
          <h2 class="card-title">Ready to Grow with Us? Register Now!</h2>
          <p class="card-text">Discover Quality Products for Every Harvest!</p>

          <ul class="list-unstyled">
            <li class="mb-2">✅ Better Fertilizer, Bigger Harvests!</li>
            <li class="mb-2">✅ Grow More with Less Effort!</li>
            <li class="mb-2">✅ Fertilizer That Makes a Difference!</li>
          </ul>

          <a href="#" class="btn btn-success">Signup now</a>
        </div>

        <!-- Card Image -->
        <div class="col-md-4 position-relative">
          <img
            src="{% static 'images/login-now.jpg' %}"
            alt="Supplier Image"
            class="img-fluid rounded-end h-100"
          />
          <div
            class="overlay"
            style="background-color: rgb(0, 0, 0, 0.2)"
          ></div>
        </div>
      </div>
    </div>
    <!-- End Signup Now Card -->

    <!-- Thirukural Card -->
    <div
      class="card mb-4 shadow fade-in d-flex d-md-none"
      style="font-family: Poppins, sans-serif"
    >
      <div class="row g-0">
        <!-- Card Image -->
        <div class="col-md-4 position-relative">
          <img
            src="{% static 'images/thiruvalluvar.png' %}"
            alt="Supplier Image"
            class="img-fluid rounded-end h-100"
            style="filter: drop-shadow(-4px 4px 6px #25252d)"
          />
        </div>

        <!-- Card Content -->
        <div class="col-md-8 pt-4 px-2">
          <p
            class="thirukural text-dark"
            style="font-size: 0.9rem; word-spacing: 0"
          >
            உழுதுண்டு வாழ்வாரே வாழ்வார்மற் றெல்லாம்<br />
            தொழுதுண்டு பின்செல் பவர். (குறள்-1033)<br />
          </p>
          <p
            class="thirukural text-muted"
            style="font-size: 0.9rem; word-spacing: 0"
          >
            விளக்கம் :<br />
            &nbsp; &nbsp; &nbsp; உழவு செய்து அதனால்‌ கிடைத்ததை உண்டு
            வாழ்கின்றவரே உரிமையோடு வாழ்கின்றவர்‌; மற்றவர்‌ எல்லோரும்‌ பிறரைத்‌
            தொழுது உண்டு பின்‌ செல்கின்றவரே.
          </p>
        </div>
      </div>
    </div>
    <!-- End Thirukural Card -->
  </section>
</main>

<script>
  // When the user scrolls down 20px from the top of the document, slide down the navbar
  // When the user scrolls to the top of the page, slide up the navbar (50px out of the top view)
  window.onscroll = function () {
    scrollFunction();
  };

  function scrollFunction() {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      document.getElementsByClassName("navbar")[0].style.backgroundColor =
        "var(--primary-color)";
    } else {
      document.getElementsByClassName("navbar")[0].style.backgroundColor =
        "transparent";
    }
  }

  const leftScroll = (id) => {
    document.getElementById(id).scrollBy({
      left: -294,
      behavior: "smooth",
    });
  };

  const rightScroll = (id) => {
    document.getElementById(id).scrollBy({
      left: 294,
      behavior: "smooth",
    });
  };
</script>


{% endblock %}
