{% extends 'layouts/main.html' %} {% load static %} 
{% block title %} 404 error - not found page | {{website_name}} {% endblock title %} 
{% block content %}
<style>
    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffff;
        font-family: Arial, sans-serif;
    }
    .error-container {
        text-align: center;
        color: #343a40;
    }
    
    .error-container h1 {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 20px;
        color: #dc3545;
    }
    .error-container p {
        font-size: 1.2em;
        color: #6c757d;
        margin-bottom: 20px;
    }
    .error-gif {
        width: 200px;
        height: auto;
        margin-bottom: 20px;
    }
    .btn-back {
        font-size: 1em;
        padding: 10px 20px;
    }    
</style>

<div class="container">
    <div class="error-container">
        <!-- Animated GIF -->
        <img src="error-gif.gif" alt="404 Error Animation" class="error-gif">
        <h1>404 - Page Not Found</h1>
        <p>Oops! It looks like this page doesn't exist.</p>
        <a href="{% url 'home' %}" class="btn btn-danger btn-back">Go Back Home</a>
    </div>
</div>

{% endblock %}