<!-- Card -->
 <style>
  .card-title{
    white-space: nowrap; /* Prevents wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Adds ellipsis */
    max-width: 100%;
  }

  .hidden {
    opacity: 0; /* Start hidden */
}

 </style>
<div class="product-card m-1 mb-4 card col-11 col-sm-4 col-md-3 shadow animate__animated hidden">
  <div class="tags m-2">
    {% if product.discount_percentage != 0 %}
    <span class="discount-tag">{{product.discount_percentage}}% OFF</span>
    {% endif %}
    {% if product.is_trend %}
    <span class="trending-tag badge">Trending</span>
    {% endif %}
  </div>
  {% if product.image %}
  <img class="card-img-top" onclick="redirect(`{% url 'product_details' product.slug %}`)"
   src="{{product.image.url}}" alt="Title" height="200" />
  {% endif %}
  <div class="card-body">
    <h4 class="card-title" onclick="redirect(`{% url 'product_details' product.slug %}`)">{{product.name}}</h4>
    <span class="category badge">{{product.category}}</span>
    {% if product.discount_percentage != 0 %}
    <span class="discount">{{product.discount_percentage}}% OFF</span>
    {% endif %}
    <div>
      <span class="selling-price"> &#8377;&nbsp;{{product.selling_price}}</span>
      <span class="mrp">&#8377;&nbsp;{{product.mrp_price}}</span>
    </div>

    <div class="ratings mb-2">
      <span>{{product.avg_rating | floatformat:1}} &nbsp;</span>
      {% with product.avg_rating|floatformat:1 as rating %}
      {% for i in "12345" %}
      {% if rating|floatformat:1 >= i %}
      <span class="star">&#9733;</span>
      {% else %}
      <span class="star">&#9734;</span>
      {% endif %}
      {% endfor %}
      {% endwith %}
      <span>({{product.review_count}})</span>
    </div>


    {% if product.slug not in cart_product_slugs  %}
    <button class="btn btn-success w-100 mb-2" onclick="addToCart(event.target)" 
    data-url="{% url 'add_to_cart' product.slug %}">Add to Cart</button>
    <a href="{% url 'cart' %}" class="btn btn-success w-100 mb-2 d-none">Go to Cart</a>
    {% else %}
    <a href="{% url 'cart' %}" class="btn btn-success w-100 mb-2">Go to Cart</a>
    {% endif %}

    <center class="mt-2">
      <a href="{% url 'product_details' product.slug %}">More Details...</a>
    </center>
  </div>
</div>
<!-- End Card -->