<!-- Card -->
<div class="m-1 mb-4 card col-11 col-sm-4 col-md-3  shadow fade-in">
  <div class="tags m-2">
    {% if product.discount_percentage != 0 %}
    <span class="discount-tag">{{product.discount_percentage}}% OFF</span>
    {% endif %}
    {% if product.is_trend %}
    <span class="trending-tag badge">Trending</span>
    {% endif %}
  </div>
  <img class="card-img-top" src="{{product.image.url}}" alt="Title" height="200" />
  <div class="card-body">
    <h4 class="card-title">{{product.name}}</h4>
    <span class="category badge">{{product.category}}</span>
    {% if product.discount_percentage != 0 %}
    <span class="discount">{{product.discount_percentage}}% OFF</span>
    {% endif %}
    <div>
      <span class="selling-price"> &#8377;&nbsp;{{product.selling_price}}</span>
      <span class="mrp">&#8377;&nbsp;{{product.mrp_price}}</span>
    </div>

    <div class="ratings mb-2">
      <span>{{product.avg_rating | floatformat:1}} &nbsp;</span>
      {% with product.avg_rating|floatformat:1 as rating %}
      {% for i in "12345" %}
      {% if rating|floatformat:1 >= i %}
      <span class="star">&#9733;</span>
      {% else %}
      <span class="star">&#9734;</span>
      {% endif %}
      {% endfor %}
      {% endwith %}
      <span>({{product.review_count}})</span>
    </div>


    <!-- <div class="position-relative"> -->
      <button class="add-to-cart btn btn-success w-100" data-product-id={{product.id}} data-url="{% url 'add_to_cart' product.id %}" onclick="addToCart(event.target)">
        Add to cart
        <i class="fas fa-shopping-cart"></i>
      </button>
      <a class="go-to-cart btn btn-success w-100 d-none" href="{% url 'cart' %}">
        Go to cart
        <i class="fas fa-shopping-cart"></i>
      </a>
    <!-- </div> -->
    <center class="mt-2">
      <a href="#">More Details...</a>
    </center>
  </div>
</div>
<!-- End Card -->