{% load static %}
<!-- Curoousel -->
<section id="carouselId" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators d-none d-md-flex">
      <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="First slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          <img src="{% static 'images/1.jpeg' %}" class="img-fluid" alt="First slide" />
          <div class="overlay">
              <p class="fs-1 thirukural d-none d-md-flex" style="height: 100%;">
                  உழுதுண்டு வாழ்வாரே வாழ்வார்மற் றெல்லாம்<br>
                  தொழுதுண்டு பின்செல் பவர். (குறள் - 1033)<br>
              </p>
          </div>
      </div>
      <div class="carousel-item">
          <img src="{% static 'images/3.jpg' %}" class="img-fluid" alt="Second slide" />
          <div class="overlay">
              <p class="fs-1 thirukural d-none d-md-flex" style="height: 100%;">
                  உழுதுண்டு வாழ்வாரே வாழ்வார்மற் றெல்லாம்<br>
                  தொழுதுண்டு பின்செல் பவர். (குறள் - 1033)<br>
              </p>
          </div>
      </div>
      <div class="carousel-item">
          <img src="{% static 'images/rice.jpg' %}" class="img-fluid" alt="Third slide" />
          <div class="overlay">
              <p class="fs-1 thirukural d-none d-md-flex" style="height: 100%;">
                  உழுதுண்டு வாழ்வாரே வாழ்வார்மற் றெல்லாம்<br>
                  தொழுதுண்டு பின்செல் பவர். (குறள் - 1033)<br>
              </p>
          </div>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</section>
<!-- End Curoousel -->