{% load static %}
<footer class=" text-lg-start text-dark mt-3" style="background-color: #eceff1">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-between p-4 text-white bg-success">
    <!-- Left -->
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="text-white me-4 text-decoration-none">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-white me-4 text-decoration-none">
        <i class="fab fa-google"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container-fluid text-center text-md-start mt-5">
      <!-- Grid row -->

      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">Categories</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Products</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-dark">MDBootstrap</a>
          </p>
          <p>
            <a href="#!" class="text-dark">MDWordPress</a>
          </p>
          <p>
            <a href="#!" class="text-dark">BrandFlow</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Bootstrap Angular</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-dark">Your Account</a>
          </p>
          <p>
            <a href="{% url 'about' %}" class="text-dark">About Us</a>
          </p>
          <p>
            <a href="{% url 'help_us' %}" class="text-dark">Help Us</a>
          </p>
          <p>
            <a href="{% url 'privacy_policy' %}" class="text-dark">Privacy And Policy</a>
          </p>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p><i class="fas fa-home mr-3"></i> VAHS complex No 2,Vathalagundu,<br>TamilNadu 624202.</p>
          <p><i class="fas fa-envelope mr-3"></i> indiafertilizer@gmail.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>



        </div>

      </div>

    </div>
  </section>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Designed By: SBV Pvt Ltd.
  </div>

</footer>