<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center animated-modal-content">
      <div class="modal-body">
        <!-- Check Icon (FontAwesome) with Animation -->
        <div class="mb-3 card-text animated-icon">
          <i class="fas fa-check-circle d-none" style="font-size: 3rem; color: var(--bs-success);"></i>
          <i class="fas fa-triangle-exclamation d-none" style="font-size: 3rem; color: var(--bs-danger);"></i>
          </div>
        <!-- Item Added Message -->
        <h5 class="modal-msg mb-2"></h5>
      </div>
      
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success px-4" data-bs-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div>