{% load static %}
<style>
  .result-box{
    position: relative;
  }
  #search-results{
    background-color: var(--primary-font-color);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #search-results > a {
    text-decoration: none;
    padding: 4px 2px;
    margin: 4px 2px;
    cursor: pointer;
    color: var(--primary-color);
  }
  #search-results >a:hover{
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    border: 1px solid var(--primary-font-color);
    border-radius: 4px;
  }

</style>
<!-- NavBar -->

<nav class="navbar navbar-dark fixed-top ">
  <div class="container-fluid container-lg">
    <div class="navbar-head">
      <a class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </a>
      <a href="{% url 'home' %}" class="brand">
        <img src="{% static 'images/website name.png' %}" alt="india fertilizer" class="brand-img">
      </a>
    </div>
    <ul class="d-none d-lg-flex nav">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
    </ul>
    <ul class="nav">
      <li class="search-box">
          <div name="search-form" class="d-none d-md-flex search-group">
            <i class="fas fa-magnifying-glass text-light search-icon"></i>
            <input type="text" name="search" class="search-input" id="search-query" placeholder="Search products..." autocomplete=false>
          </div>
         <div class="result-box">
           <div id="search-results" class="shadow">
           </div>
         </div>
      </li>
      <li class="nav-item">
        <a class="nav-link position-relative" href="{% url 'cart' %}" aria-current="page">
          <p class="badge cart-badge rounded-circle" id="cart-count">{{cart_count}}</p>
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          {% if user.is_authenticated %}
          <i class="fas fa-user"></i>
          {% else %}
          <i class="fas fa-user-plus"></i>
          {% endif %}
        </a>
      </li>
    </ul>
    {% include 'inc/offcanvas.html' %}

  </div>
</nav>
<!-- End NavBar -->

<script>let timer;

document.getElementById('search-query').addEventListener('input', function() {
    clearTimeout(timer);  // Clear any existing timer to prevent multiple requests
    
    const query = this.value;
    
    // Delay the fetch request by 300ms to wait until typing stops
    timer = setTimeout(() => {
        if (query.trim()) {
            fetch(`/search/?query=${query}`)
                .then(response => response.json())
                .then(data => {
                  console.log(data)
                    const resultsContainer = document.getElementById('search-results');
                    resultsContainer.innerHTML = '';  // Clear previous results
                    const noResultItem = document.createElement('a');
                    if (data.products_list.length > 0) {
                        data.products_list.forEach(item => {
                            const resultItem = document.createElement('a');
                            resultItem.href = `/product_details/${item.id}`
                            // resultItem.textContent = `$(item.name) - $(item.brand)`;  // Replace 'name' with the relevant field
                            resultItem.textContent = item.name;  // Replace 'name' with the relevant field
                            resultsContainer.appendChild(resultItem);
                        });
                    } else {
                        noResultItem.textContent = 'No results found.';
                        resultsContainer.appendChild(noResultItem);
                    }
                })
                .catch(error => console.error('Error:', error));
        } else {
            document.getElementById('search-results').innerHTML = '';
        }
    }, 300);  // Delay in milliseconds
});

</script>
