{% load static %}
<style>
  .result-box{
    position: relative;
  }
  #search-results{
    background-color: var(--primary-font-color);
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
  }
  #search-results > a {
    text-decoration: none;
    padding: 4px 2px;
    margin: 4px 2px;
    cursor: pointer;
    color: var(--primary-color);
  }
  #search-results >a:hover{
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    border: 1px solid var(--primary-font-color);
    border-radius: 4px;
  }
  .brand-img{
    height: 35px;
    width: 120px;
    object-fit: cover;
  }
  .search-icon {
  position: absolute;
  top: 30%;
  left: 14px;
  transform: translateY(-50%);
}
</style>
<!-- NavBar -->

<nav class="navbar navbar-dark fixed-top ">
  <div class="container-fluid container-lg">
    <div class="navbar-head">
      <a class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
         aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </a>
      <a href="{% url 'home' %}" class="brand">
        <img src="{% static 'images/website name.png' %}" alt="india fertilizer" class="brand-img {% if request.path == '/' %}animate__animated animate__bounceIn{% endif %}">
      </a>
    </div>
    <ul class="d-none d-lg-flex nav">
      <li class="nav-item {% if request.path == '/' %}animate__animated animate__fadeInUp animate__delay-1s{% endif %}">
        <a class="nav-link active" href="{% url 'home' %}" aria-current="page">Home</a>
      </li>
      <li class="nav-item {% if request.path == '/' %}animate__animated animate__fadeInUp animate__delay-2s{% endif %}">
        <a class="nav-link" href="{% url 'categories' %}">Category</a>
      </li>
      <li class="nav-item {% if request.path == '/' %}animate__animated animate__fadeInUp animate__delay-3s{% endif %}">
        <a class="nav-link" href="{% url 'products' %}">Products</a>
      </li>
      <li class="nav-item {% if request.path == '/' %}animate__animated animate__fadeInUp animate__delay-4s{% endif %}">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
    </ul>
    
    {% if header %}
    <div class="search-box order-2 order-md-1 animate__animated animate__fadeIn">
      <div name="search-form" class="search-group">
        <i class="fas fa-magnifying-glass text-light search-icon  animate__delay-1s animate__animated animate__fadeInLeft"></i>
        <input type="text" name="search" class="search-input animate__animated animate__fadeInRight" id="search-query" placeholder="Search products..." autocomplete="false" oninput="SearchProducts(event)">
      </div>
      <div class="result-box animate__animated animate__fadeInUp" id="result-box">
        <div id="search-results" class="shadow">
          <!-- Dynamic search results will appear here -->
        </div>
      </div>
    </div>
    
    <ul class="nav order-1 order-md-2">
      <li class="nav-item {% if request.path == '/' %}animate__animated animate__zoomIn{% endif %}">
        <a class="nav-link position-relative" href="{% url 'cart' %}" aria-current="page">
          <p class="badge cart-badge rounded-circle" id="cart-count">{{cart_count}}</p>
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
      <li class="nav-item {% if request.path == '/' %}animate__animated animate__slideInDown animate__delay-1s{% endif %}">
        {% if user.is_authenticated %}
        <a class="nav-link" href="#">
          <i class="fas fa-user"></i>
        </a>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}">
          <i class="fas fa-user-plus"></i>
        </a>
        {% endif %}
      </li>
    </ul>
    {% endif %}
  
    {% include 'inc/offcanvas.html' %}
  </div>
</nav>
<!-- End NavBar -->

<script>
  let timer;
  
  document.addEventListener('click', () => {
    const resultsContainer = document.getElementById('search-results');
    resultsContainer.style.display = 'none';
  });

  function SearchProducts(e) {
    clearTimeout(timer);  // Clear any existing timer to prevent multiple requests
    
    const query = e.target.value;
    
    // Delay the fetch request by 300ms to wait until typing stops
    timer = setTimeout(() => {
        if (query.trim()) {
            fetch(`/search/?query=${query}`)
                .then(response => response.json())
                .then(data => {
                  console.log(data)
                    const resultsContainer = document.getElementById('search-results');
                    resultsContainer.style.display = 'flex';
                    resultsContainer.innerHTML = '';  // Clear previous results
                    const noResultItem = document.createElement('a');
                    if (data.products_list.length > 0) {
                        data.products_list.forEach(product => {
                            const resultItem = document.createElement('a');
                            resultItem.href = `/product_details/${product.slug}`
                            resultItem.textContent = `${product.name}(${product.weight}${product.unit_of_messure}) - ${product.brand__name}`;  // Replace 'name' with the relevant field
                            // resultItem.textContent = product.name;  // Replace 'name' with the relevant field
                            resultsContainer.appendChild(resultItem);
                        });
                    } else {
                        noResultItem.textContent = 'No results found.';
                        resultsContainer.appendChild(noResultItem);
                    }
                })
                .catch(error => console.error('Error:', error));
        } else {
            document.getElementById('search-results').innerHTML = '';
        }
    }, 300);  // Delay in milliseconds
  };

</script>
