<style>
    .offcanvas-header{
        text-transform: uppercase;
    }
</style>

<!-- off Canvas -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{website_name}}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" href="#about">About</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" href="#">Products</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" href="#feature">Features</a>
    </li>
</ul>
    
    <!-- Search Feild -->
    <form class="d-flex ms-auto " style="margin-left: 200px;">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>

    </form>
    
</div>
</div>
<!-- End Off canvas -->