<div class="tab-pane fade {% if not product.description %}show active{% endif %}" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="about-heading">
            Customer <b class="text-uppercase text-success">Reviews</b>
        </h4>

        {% if user.is_authenticated %}
        {% if has_review %}
        <button class="btn btn-success rate btn-sm" data-bs-toggle="modal"
            data-bs-target="#rateProductModal">Rate Product</button>
        {% endif %}
        {% endif %}
    </div>

    <!-- Review Card -->
    {% for review in reviews %}
    <div class="review-card mt-2 rounded  shadow px-4 pb-2 pt-3" id="review-card">
        <div class="review-head">
            <img src="{{review.user.profile_img.url}}" alt="Customer Image">
            <div>
                <h6 class="mb-0">{{review.user.username}}</h6>  
                <div class="star-rating">          
                    {% with review.rating|floatformat:1 as rating %}
                    {% for i in "12345" %}
                    {% if rating|floatformat:1 >= i %}
                     ★
                    {% else %}
                     ☆
                    {% endif %}
                    {% endfor %}
                    {% endwith %}     
                </div>
                <p>({{review.rating | floatformat:1}})</p>
            </div>
        </div>
        <p>"{{review.review}}"</p>
    </div>
    <!-- End Review Card -->
    {% endfor %}

    {% include 'inc/review modal.html' %}

    <div id="reviews-container">
    </div>
    {% if reviews %}
    <button id="load-more-btn" class="btn btn-success rounded mt-3 mb-3">Load More</button>
    {% else %}
    <p class="text-center mt-3 mb-3 fw-bold fs-5 text-dark ">You are the first to review this product.</p>
    {% endif %}
</div>

{% if reviews %}
<script type="text/javascript">
    const productId = "{{ product.id }}";
    let offset = 3;  // Starting point after initial reviews

    document.getElementById('load-more-btn').addEventListener('click', function() {
        start_loading()
        fetch(`/load_more_reviews/?product_id=${productId}&offset=${offset}`)
            .then(response => response.json())
            .then(data => {
                end_loading()
                console.log(data)
                if (data.reviews) {
                    data.reviews.forEach(review => {
                        let stars='';
                        for (var i=1 ; i<=5; i++) {
                            if (i<=review.rating) {
                                stars += '★'
                            } else{
                                stars += '☆'
                            }
                        }

                        review_card = `<div class="review-card mt-2 rounded shadow px-4 pb-2 pt-3" id="review-card">
                            <div class="review-head">
                                <img src="${review.user.profile_image_url}" alt="Customer Image">
                                <div>
                                    <h6 class="mb-0">${review.user.username}</h6>  
                                    <div class="star-rating"> 
                                    ${stars}             
                                    </div>
                                    <p>(${review.rating})</p>
                                </div>
                            </div>
                            <p>"${review.review}"</p>
                        </div>`

                        document.getElementById('reviews-container').innerHTML += review_card
                    });
                    offset += data.reviews.length;
                    if (data.reviews.length < 3) {
                        document.getElementById('load-more-btn').style.display = 'none';
                    }
                } else if (data.error) {
                    alert(data.error);
                }
            })
            .catch(error => console.log('Error :', error));
    });
</script>
{% endif %}